<section class="newsletter">
    <h2>{{ title }}</h2>
    <p>{{{ text }}}</p>

    <div class="form">
        <div class="form-wrapper">
            <input type="text" placeholder="{{form.inputtext.placeholder}}" title="{{form.inputtext.title}}">
            <button type="submit">{{form.button.text}}</button>
        </div>
    </div>
</section>